:root {
    --blue-primary: #0004FF;
    --white: #FFFFFF;
    --gray-light: #F3F3F3;
}

@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
    font-style: normal;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Style général du footer */
footer {
    background-color: var(--blue-primary); 
    color: var(--white);
    padding: 40px 0;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px 30px 0 0;
}

/* Logo de la tortue */
.footer-logo {
    display: block;
    margin-bottom: 20px;
    width: 50px;
    height: auto;
}

/* Titres dans un bloc rond */
.footer-title {
    background-color: var(--white);
    color: var(--blue-primary);
    border-radius: 5px;
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    font-weight: 700; 
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

/* Espacement et alignement des contenus */
.footer-column {
    text-align: left;
}

.footer-column p,
.footer-column ul,
.footer-column a {
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--white);
}

/* Liens et icônes */
footer a {
    color: var(--white);
    text-decoration: underline;
    font-size: 20px;
}

footer a:hover {
    text-decoration: none;
}

.social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: var(--white);
}

.social-icons a:hover {
    opacity: 0.8;
}

/* Bouton Inscrivez-vous */
.btn-inscription {
    background-color: var(--white);
    color: var(--blue-primary) !important;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn-inscription:hover {
    transform: scale(1.1);
    background-color: var(--white);
        text-decoration: none;
}

/* Mention légale */
.mentions-legales-footer {
    text-align: left;
    margin-top: 20px;
    font-size: 0.9rem;
    color: var(--white);
    border-top: 1px solid var(--white);
    padding-top: 20px;
}

.navbar-toggler {
    border-color: var(--blue-primary); 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,4,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .btn-outline-primary {
    font-size: 1.2rem;
    padding: 10px 20px; 
    font-weight: bold; 
    border-radius: 100px; 
    border-color: var(--blue-primary); 
    color: var(--blue-primary); 
}

.navbar-nav .btn-outline-primary:hover {
    background-color: var(--blue-primary); 
    color: var(--white); 
}

.logo-navbar {
    height: 50px; 
    width: auto; 
    max-width: 100%; 
}

.custom-navbar {
    padding-top: 4%; 
}

/* Animation pour les liens dans la version normale */
.navbar-nav .nav-link {
    color: var(--blue-primary); 
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block; 
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: var(--blue-primary); 
    transition: width 0.3s ease; 
}

/* Version desktop */
.navbar-nav .nav-link:hover {
    color: var(--blue-primary); 
}

.navbar-nav .nav-link:hover::after {
    width: 100%; 
}

/* Version mobile - Ajuste le comportement pour ne pas dépasser la largeur du texte */
@media (max-width: 992px) {
    .navbar-nav .nav-link {
        transition: color 0.3s ease; 
        display: inline-block; 
        position: relative; 
    }

    .navbar-nav .nav-link::after {
        transition: width 0.3s ease; 
        width: 0;
        max-width: 100%;
    }

    .navbar-nav .nav-link:hover::after {
        width: 100%; 
    }

    .navbar-nav .nav-link:hover {
        color: var(--blue-primary);
    }
}

/* Espacement entre les éléments de la navbar */
.navbar-nav .nav-item:not(:last-child) {
    margin-right: 20px; 
}

.navbar-nav .nav-item:last-child {
    margin-left: 20px; 
    
}

/* Pour les versions mobiles */
@media (max-width: 992px) {
    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 0px; 
        
    }
    .navbar-nav .nav-item:last-child {
        margin-left: 0px; 
        margin-top: 10px;

    }
}

/* Section personnalisée */
.custom-section {
    font-family: 'Satoshi Medium';
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.custom-text {
    color: var(--blue-primary); 
    font-size: 1.4rem;
    line-height: 1.5;
    max-width: 600px; 
}

.custom-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: var(--blue-primary); 
    font-size: 4rem;
    margin-bottom: 20px;
}

.custom-paragraph {
    margin-bottom: 30px;
}

.btn-custom {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; 
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: bold;
    border: none;
    padding: 10px 30px; 
    border-radius: 8px;
    cursor: pointer;
    transform: scale(1); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn-custom:hover {
    transform: scale(1.1); 
    background-color: #0003CC; 
    color: var(--white);
}


.rounded-image {
    border-radius: 50%;
    width: 350px;
    height: 350px; 
    object-fit: cover; 
}

.partners-title {
    color: var(--blue-primary);
    font-weight: bold;
    font-size: 2rem; 
}

.partner-logo {
    width: 100px;       
    height: 100px;       
    object-fit: contain; 
    margin: 0 20px;      
    display: inline-block;
}

/* Admin Card Styling */
.admin-card {
    border: 2px solid var(--blue-primary); 
    border-radius: 20px; 
    box-shadow: 8px 8px 0px #000; 
    text-align: left;
    padding: 20px;
    background-color: #F3F3F3; 
    position: relative; 
    overflow: hidden; 
    width: 100%;
    margin: 0 auto;
}

.admin-card h3 {
    background-color: var(--blue-primary);
    color: #FFF;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}

.admin-card p {
    color: #333;
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Flèche icône */
.admin-card .icon-arrow {
    width: 50px;
    height: 50px;
    background-color: var(--blue-primary);
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.admin-card .icon-arrow img {
    width: 50%;
    height: auto;
    filter: brightness(0) invert(1);
}
h2.text-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--blue-primary) !important;
}

/* Style du titre */
.form-title {
    color: var(--blue-primary);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Section du formulaire */
.form-section {
    background-color: var(--gray-light);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Champs de texte personnalisés */
.custom-input {
    background-color: var(--white); 
    border: 1px solid var(--gray-dark); 
    border-radius: 5px; 
    padding: 10px 15px; 
    color: #333; 
    font-size: 1rem;
    width: 100%; 
}

/* Effet au focus des champs */
.custom-input:focus {
    border-color: var(--blue-primary); /* Bordure bleue au focus */
    box-shadow: 0 0 0 0.2rem rgba(0, 4, 255, 0.25);
    outline: none; /* Retire l'outline par défaut */
}

/* Style des labels */
.form-label {
    font-weight: bold;
    color: var(--blue-primary);
}

/* Bouton Terminer */
.btn-primary {
    background-color: var(--blue-primary);
    border-color: var(--blue-primary);
    color: var(--white);
    border-radius: 5px; /* Coins arrondis */
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    transition: transform 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: var(--blue-primary);
}

/* Ajustement pour aligner le bouton à gauche */
.button-container {
    text-align: left;
}
/* Ajout pour la mise en page */
.torute {
    width: 100%;
    max-width: 350px; 
    object-fit: cover; 
    margin: 0 auto;
}
textarea.custom-input {
    height: 100%; 
    resize: none; 
}

/* Boutons radio par défaut */
input[type="radio"] {
    accent-color: var(--blue-primary); 
    width: 18px; 
    height: 18px;
}

/* Pour les labels associés aux boutons radio */
input[type="radio"]:checked + label {
    color: var(--blue-primary); 
    font-weight: bold; 
}

/* Optionnel : survol des labels */
label:hover {
    cursor: pointer; 
    text-decoration: underline; 
}

body {
    font-family: 'Satoshi', sans-serif;
}

/* Section Événements */
.events-section {
    padding: 2rem;
    color: var(--blue-primary);
}

/* Titre principal */
.events-title {
    font-size: 2.5rem;
    font-family: 'Satoshi Bold';
    color: var(--blue-primary);
    margin-bottom: 1rem;
}

.highlight {
    color: var(--blue-primary);
}

.events-description {
    font-size: 1rem;
    color: #333;
}


.arrow-icon {
    color: var(--blue-primary);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.en-savoir-plus {
    color: var(--blue-primary);
    text-decoration: none;
    font-family: 'Satoshi Medium';
}

/* Conteneur principal du calendrier */
.calendar-container {
    background-color: var(--gray-light); 
    border: 2px solid var(--blue-primary); 
    border-radius: 20px;
    box-shadow: 8px 8px 0px #000; 
    padding: 20px;
    max-width: 350px; 
    margin: 0 auto; 
    position: relative;
}

/* Stylisation du calendrier existant */
.calendar {
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header span {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}

.btn-nav {
    background-color: var(--blue-primary);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 4px #888;
}

.btn-nav:hover {
    background-color: var(--blue-primary);
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
    padding: 10px;
    text-align: center;
}

.calendar-table td {
    border: 1px solid var(--gray-light);
}

.calendar-table td:hover {
    background-color: var(--white);
    cursor: pointer;
}

/* Texte en bleu */
.events-title {
    color: var(--blue-primary); /* Bleu vif */
    font-size: 2rem;
    font-weight: bold;
}

.events-description {
    color: var(--blue-primary); /* Bleu plus profond */
    font-size: 1.2rem;
}

/* Texte en bleu, plus vers la gauche */
.events-title {
    color: var(--blue-primary); 
    font-size: 2rem;
    font-weight: bold;
}

.events-description {
    color: var(--blue-primary); 
    font-size: 1.2rem;
    margin-bottom: 40px ; 
}

/* Image réduite, ronde avec marge */
.app-image {
    width: 50%; 
    margin-bottom: 40px ; 
}

/* Styles spécifiques à la page de mentions légales */
.mentions-legales-page .mentions-legales {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mentions-legales-page .mentions-legales h1 {
    font-family: 'Satoshi Bold';
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--blue-primary);
    text-align: center;
}

.mentions-legales-page .mentions-legales h2 {
    font-family: 'Satoshi Medium';
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--blue-primary);
    border-bottom: 2px solid var(--blue-primary);
    padding-bottom: 5px;
}

.mentions-legales-page .mentions-legales p,
.mentions-legales-page .mentions-legales ul {
    margin-bottom: 15px;
    color: #333;
}

.mentions-legales-page .mentions-legales ul {
    padding-left: 20px;
}

.mentions-legales-page .mentions-legales li {
    list-style-type: disc;
    margin-bottom: 5px;
}

.mentions-legales-page .mentions-legales address {
    font-style: normal;
    color: var(--blue-primary);
    background-color: var(--gray-light);
    padding: 10px;
    border-left: 5px solid var(--blue-primary);
    margin-top: 20px;
}

.mentions-legales-page .text-primary {
    color: var(--blue-primary);
    font-weight: bold;
}
